<div id="clip">
	<div id="intro-page"
		data-0="top: 0;"
		data-1000="top:0;"
		data-1200="top: -50px;"
		data-1400="top: -200px;"
		data-1700="top: -300px;"
		data-1900="top: -400px;"
		data-2100="top: -500px;"
		data-2300="top: -600px;"
		data-2500="top: -750px;" >
		<div class="logo-cell">
			<span class="logo skrollable rendered"
				data--10="top:10px;"
				data-600="top:32px;" >
				<%=image_tag("airscrew.png") %>
			</span>
		</div>
		<div class="tringle-bar"
			data--10="top:-190px;"
			data-350="top:-150px;"
			data-1000="top: -150px;"
			data-1900="top: -160px;" >
			<%=image_tag("tringle-top.png") %>
		</div>
		<div class="plane"
			data-300="top: -10px; transform[bounce]:scale(0.4); opacity: 1; display: block;"
			data-1000="top:1000px;transform[bounce]:scale(1.5); opacity: 1; display: block;"
			data-1300="top:1000px;transform[bounce]:scale(1.5); opacity: 0; display: none;">
			<%=image_tag("air-top.svg") %>
			<span class="airscrew"></span>
		</div>
		<div class="tringle-back">
			<%=image_tag("tringle-top.svg") %>
		</div>
		<div class="self-box"
			data-0="top: 0px; "
			data-400="top: -60px;">
			<div class="self-cnt"
				data-0="top: 300px; opacity: 1;"
				data-400="top: 400px; opacity: 0.6;"
				data-1200="top: 420px; opacity: 0;">
				<div class="cnt-bg"></div>
				<div class="photo-box">
					<%=image_tag("logo-self.png", class: "photo") %>
				</div>
				<div class="who-am-i">
					<h2><%= @admin.name %></h2>
					<h3>正在起飞的前端工程师</h3>
					<p>
						<a href="mailto:<%= @admin.email%>" class="strang email">EMAIL</a>
					</p>
				</div>
			</div>
			<div class="road-box">
				<div class="road-line"
					data-140="top: 0px;"
					data-2000="top: -4000px;"></div>
			</div>
			<%=image_tag("tringle-large-top.png", class: "bottom") %>

		</div>
		<div class="about-me"
			data-300="top: -800px;"
			data-1000="top: -50px;"
			data-1200="top: -50px;"
			data-1900="top: -300px;" >
			<ul>
				<li><span>姓名&nbsp;|&nbsp;</span><%= @admin.name %></li>
				<li><span>手机&nbsp;|&nbsp;</span><%= @admin.phone %></li>
				<li><span>邮箱&nbsp;|&nbsp;</span><a href="mailto:<%= @admin.email%>"><%= @admin.email%></a></li>
				<li><span>博客&nbsp;|&nbsp;</span><a href="<%= @admin.blog_url %>">欢迎猛击</a></li>
				<li><span>教育背景&nbsp;|&nbsp;</span><%= @admin.edu_info %></li>
				<% if false %>
				<li><span>GitHub&nbsp;|&nbsp;</span><a href="<%= @admin.github_url%>">欢迎猛击</a></li>
				<% end %>
			</ul>
			<div class="introduction">
				<p>今夏最适合出境游的目的地是哪？当然是欧洲！
				受欧洲政经形势和国际市场多重因素的影响，欧元对人民币的汇率跌破7.0大关，创下了欧元诞生以来的历史最低；同时，很多国家大使馆也进一步放宽了旅游签证的条件。钱不是问题，签证也不是问题，还有比这个时候更适合去欧洲的吗？
				无论你是向往西方文明的印迹，或是只想吃吃吃买买买；无论你是早已去过那些耳熟能详热门景点的旅行达人，或只是一个蠢蠢欲动的出境游小白，都可以试试下面这几个欧洲小众目的地。
				</p>
			</div>
			<div class="star star-top-left">
				<%= image_tag("star.png") %>
			</div>
			<div class="star star-top-right">
				<%= image_tag("star.png") %>
			</div>
			<div class="star star-bottom-left">
				<%= image_tag("star.png") %>
			</div>
			<div class="star star-bottom-right">
				<%= image_tag("star.png") %>
			</div>
			<%=image_tag("about-me-bottom.png", class: "bottom") %>
		</div>
		<div class="clouds-bar">
			<div class="cloud-1"
				data-0="left: 150px;"
				data-1500="left: 350px;"
				data-3000="left: 150px" >
				<%= image_tag("cloud-1.svg", height: 171 )%>
			</div>
			<div class="cloud-2"
				data-0="right: 50px;"
				data-1500="right: 350px;"
				data-3000="right: 50px"
				>
				<%= image_tag("cloud-2.svg", height: 171 )%>
			</div>
		</div>
	</div>
	<div id="skills-page" data-1300="top:200px" data-2500="top: 0px" >
		<div class="skill-cloud-bar skill-1">
			<div class="skill-cloud-1"></div>
			<strong>HTML</strong>
			<div class="cover-cloud"></div>
		</div>
		<div class="skill-cloud-bar skill-2">
			<div class="skill-cloud-2"></div>
			<strong>CSS</strong>
			<div class="cover-cloud"></div>
		</div>
	</div>
</div>
<script>

	var scrollObj = skrollr.init({
		  smoothScrolling: true,
		  smoothScrollingDuration: 1000,

	});
	var $email = $('.email');
	$email.on("mouseenter", function(){
		$email.fadeOut("slow","swing",function(){
			$email.text("yundong.me@gmail.com");
			$email.fadeIn("slow","swing");
		});
	});
	$email.on("mouseout", function(){
		$email.fadeOut("slow","swing",function(){
			$email.text("EMAIL");
			$email.fadeIn("slow","swing");
		});
	});

	var skill_clouds = $(".skill-cloud-bar strong");
	for( var i = 0; i < skill_clouds.length; i++){
		(function(){
			$(skill_clouds[i]).one('mouseenter', function(e){
				var $this = $(this);
				var $curr_cloud = $this.prev();
				$curr_cloud.animate({
					"height": "-=50px"
				}, 2000);
			});
		})();
	}


</script>